@use "../../../scss/base/functions.scss";
@use "sass:map";
.cart-list{
	@include functions.flex(column,nowrap,flex-start,center);
	li{
		@include functions.grid(repeat(7, 1fr),1fr,$justify-items:center,$align-items:center);
		gap:1%;
		width:100%;
		.img-item{
			width:60%;
		}
		button{
			svg{
				width:50%;
				fill:map.get(functions.$colors,"color-void");
				@include functions.transition(fill);
			}
			&:hover{
				svg{
					fill:map.get(functions.$colors,"color-light-void");
				}
			}
		}
		p{
			@include functions.text(1.2em,500,map.get(functions.$colors,"color-dark-void"),left);
		}
	}
	.header-cart{
		margin-bottom:2%;
		h2{
			@include functions.text(1.2em,700,map.get(functions.$colors,"color-void-secondary"),left);
		}
	}
}