$colors:("color-dark-void":#02010A,
	"color-void":#1D0B43,
	"color-light-void":#4F518C,
	"color-void-secondary":#767481,
	"color-accent":#858AE3,
	"color-white":#FBFAFF,
	"color-light-grey":#dad7e6,
	"color-void-opacity":rgba(17,0,28,0.9)
);
$font-family:"Cormorant", serif;
$text-decoration-line:line-through solid 2px;
$transition-duration:0.4s;
$transition-function:ease-out;
$mix-blend-mode:difference;
$opacity:0.8;
$icon-width:15px;