@use '../../scss/base/functions.scss';
@use "sass:map";
@use 'sass:math';
main{
	margin-top:5%;
	@include functions.flex(column,nowrap,flex-start,center);
	padding:0 5%;
	h1{
		@include functions.text(4em,600,map.get(functions.$colors,"color-void"),center,uppercase);
		text-decoration:functions.$text-decoration-line;
		margin-bottom:5%;
	}
}