@use "../../../scss/base/functions.scss";
@use "sass:map";
.cart-empty{
	@include functions.flex(column,nowrap,center,center);
	width:100%;
	height:100%;
	span{
		@include functions.flex(row,nowrap,flex-start,flex-start);
		p{
			font-size:3em;
		}
	}
}