@use '../../scss/base/_functions.scss';
header{
	@include functions.flex(row,nowrap,space-between,center);
	padding-top:2%;
	@include functions.position(sticky,$top:0);
	z-index:1;
	a{
		width:20%;
		img{
			mix-blend-mode:functions.$mix-blend-mode;
		}
	}
}