@use '../../../scss/base/_functions.scss';
@use "sass:map";
.cart-container{
	@include functions.flex(row,nowrap,flex-end,stretch);
	margin-right:2%;
	opacity:functions.$opacity;
	@include functions.transition(opacity);
	width:16vw;
	&:hover{
		opacity:1;
	}
	svg{
		fill:map.get(functions.$colors,"color-light-void");
		width:calc(functions.$icon-width*4);
	}
	p{
		@include functions.text(3em,700,map.get(functions.$colors,"color-light-void"),left,uppercase);
	}
}